<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
      Corporate Communication Design That Builds Trust
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
Corporate communication is more than just sharing information — it’s about presenting your brand’s values and message with clarity, professionalism, and impact. At Marcamor, we design corporate communication materials that help businesses connect effectively with their stakeholders, clients, and employees.      </p>

      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of expertise, we create visually appealing and strategically designed assets that enhance your brand’s credibility. Whether it’s internal communications, investor presentations, or annual reports, we ensure every piece reflects your brand identity and leaves a strong impression.      </p>

    </div>

  </div>

</section>