<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <!-- Heading -->
      <h2 class="text-[32px]  md:text-[44px] lg:text-[52px] font-semibold leading-tight">
       
Franchise Consulting That Scales Your Brand
      </h2>

      <!-- Paragraph -->
      <p class="text-[15px] text-black leading-relaxed">
      Expanding your business through franchising requires the right strategy, planning, and execution. At Marcamor, we specialize in helping brands build sustainable franchise models that drive growth while maintaining brand consistency. Our franchise consulting services are designed to guide you through every step — from evaluating franchise readiness to creating systems that attract and support franchise partners.
      </p>

      <p class="text-[15px] text-black leading-relaxed">
      With 8+ years of expertise, we’ve worked with businesses across industries to structure, launch, and scale franchise networks successfully. Whether you’re starting with a single outlet or looking to expand nationwide, we ensure your brand has a clear roadmap to franchise success.
      </p>

    

    </div>

  </div>

</section>