<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px]  md:text-[44px] lg:text-[52px] font-semibold leading-tight">
     E-commerce Development That Drives Sales
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we build powerful and scalable e-commerce platforms designed to give your customers a seamless shopping experience and your business a competitive edge. We understand that every online store is unique, which is why we create custom e-commerce solutions that align with your brand, simplify buying journeys, and boost conversions. Whether you’re launching a new store or upgrading an existing one, we deliver solutions that blend functionality with stunning design.      </p>

      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of experience in e-commerce development, we specialize in building user-friendly, mobile-responsive, and performance-optimized online stores. From integrating secure payment gateways to setting up inventory management systems, we ensure every element of your store works flawlessly to maximize revenue.      </p>

    </div>

  </div>

</section>