<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[950px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
  UI/UX Design That Delivers Seamless Experiences
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
A great digital experience is what sets successful brands apart. At Marcamor, our UI/UX design services focus on creating interfaces that are not only visually appealing but also intuitive, functional, and user-centric. We design digital experiences that make users stay, engage, and convert.      </p>

      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of experience, our team blends creativity with usability principles to craft websites, apps, and digital platforms that are easy to navigate and deliver a consistent brand experience. From wireframes to interactive prototypes, every design element is created to ensure smooth user journeys and lasting impressions.      </p>

      

  </div>

</section>