<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px]  md:text-[44px] lg:text-[52px] font-semibold leading-tight">
     Business Process Optimization for Maximum Efficiency
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we believe that streamlined processes lead to stronger performance and higher profitability. Business Process Optimization (BPO) is not just about cutting costs — it’s about improving workflows, reducing inefficiencies, and enabling your team to focus on what truly drives growth. We analyze your existing operations, identify bottlenecks, and create smart, scalable solutions to enhance productivity.
      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of experience in consulting and strategy, we’ve helped startups, SMEs, and enterprises optimize their core business processes, automate repetitive tasks, and improve cross-departmental collaboration. Our goal is to ensure your operations are not only efficient but also aligned with your long-term business objectives.</p>
    </div>

  </div>

</section>