---
const careerbg1 = "/images/career-bg.png";
const careerMb = "/images/career-mobile-bg.png";
---

<section
class="relative w-full text-white bg-cover bg-center bg-no-repeat min-h-[450px] md:min-h-[448px]"
style={`background-image:url(${careerMb})`}
>

<div
class="absolute inset-0 hidden md:block bg-cover bg-center"
style={`background-image:url(${careerbg1})`}
></div>

<div class="relative z-10 max-w-[1440px] w-[90%] mx-auto flex flex-col items-center justify-center text-center gap-5 min-h-[400px] md:min-h-[450px]">

<div class="bg-[#FFFFFF26] backdrop-blur-sm px-4 py-1.5 rounded-full">
<span class="text-sm font-medium">Let’s Talk</span>
</div>

<h1 class="text-[44px] md:text-[52px] lg:text-[60px] font-semibold">
Careers
</h1>

<p class="text-sm sm:text-base">
Build the future of brands with a team that values strategy, creativity, and disciplined execution.
</p>

<ul class="flex gap-4 items-center">

<li>
<a href="/" class="hover:text-[#EE5125]">Home</a>
</li>

<li class="flex items-center gap-2">

<span class="text-[#EE5125]">•</span>

<a href="/careers" class="hover:text-[#EE5125]">
Careers
</a>

</li>

</ul>

</div>

</section>