<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
      Seamless API Integration Services
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we specialize in API integration solutions that connect your applications, platforms, and tools to work together effortlessly. Whether it’s integrating third-party services, payment gateways, CRMs, or custom APIs, we ensure smooth data exchange and flawless functionality across your digital ecosystem. Our goal is to create efficient, secure, and scalable integrations that enhance your business operations and user experience.</p>
      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of expertise, our team has worked on a wide range of API integrations, from simple plug-ins to complex enterprise-level solutions. We focus on delivering clean, well-documented APIs and seamless connections that allow your systems to communicate and perform at their best.
    </div>

  </div>

</section>