<section class="bg-[#fff9f6] py-10">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] lg:text-[54px] font-semibold leading-tight">
Why Choose Marcamor for Logo Design

      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we know a logo is the face of your brand — a symbol that defines how your audience perceives you. We combine creativity with research and competitor analysis to design logos that are simple, unique, and timeless. Our focus is to create a design that reflects your brand values and leaves a memorable impression.
      </p>

      <p class="text-[15px] text-black leading-relaxed">
We follow a collaborative process, working closely with you at every stage to refine concepts until we achieve the perfect design. With 8+ years of expertise, we provide multiple concepts, revisions, and deliver all professional formats optimized for web, print, and digital platforms.
      </p>

      <p class="text-[15px] font-bold">
      Here’s why businesses trust us:


      </p>

      <ul class="list-disc pl-6 space-y-2 text-[15px] text-black">

        <li>8+ years of expertise in logo and brand identity design
</li>

        <li>Unique, handcrafted designs — no generic templates
</li>

        <li>A creative process rooted in research and storytelling
</li>

        <li>Multiple design concepts and revisions for complete satisfaction
</li>

 

      </ul>

    </div>

  </div>

</section>