<section class="bg-[#fff9f6] py-10 lg:py-20">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] lg:text-[54px] font-semibold leading-tight">
       Why Choose Marcamor for Startup & SME Consulting?
      </h2>

      <p class="text-[15px] text-black leading-relaxed font-medium">
At Marcamor, we bring a holistic approach to consulting, combining strategic thinking, creative insights, and actionable plans. Our goal is to empower you with the tools, expertise, and direction needed to build a competitive edge in your industry.      </p>

      <p class="text-[15px] text-black leading-relaxed font-medium">
We’ve worked with 100+ startups and SMEs across industries, helping them overcome early-stage challenges and build brands that thrive. With our experience, we not only provide expert advice but also offer hands-on support to turn strategies into results.      </p>

      <p class="text-[15px] font-bold">
        Here’s what sets us apart:
      </p>

      <ul class="list-disc pl-6 space-y-2 text-[15px] text-black">

        <li>8+ years of expertise in startup and SME growth strategies</li>

        <li>Proven track record of helping early-stage businesses scale successfully</li>

        <li>Customized solutions based on market research and industry trends</li>

        <li>Strong focus on ROI and sustainable long-term success</li>

        <li>Collaborative approach with transparent communication</li>

      </ul>

    </div>

  </div>

</section>