<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px]  md:text-[44px] lg:text-[52px] font-semibold leading-tight">
  Brand Strategy That Builds Lasting Impact
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
A strong brand is more than just a logo — it’s the story, emotion, and experience that customers connect with. At Marcamor, we craft brand strategies that define your purpose, position your business effectively, and create a lasting impression in the minds of your audience.
      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of expertise, we help brands find their voice, build a strong identity, and differentiate themselves in competitive markets. Our approach blends creativity, storytelling, and data-driven insights to ensure your brand not only stands out but also resonates with the right audience.
 
    </div>

  </div>

</section>