<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
       Branding & Design That Tells Your Story
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
        Your brand is more than just a logo — it’s the emotion, identity, and experience your customers connect with. At Marcamor, we craft powerful brand identities and stunning designs that capture attention and build lasting impressions. From strategy to visual aesthetics, we make sure your brand stands out in a crowded marketplace.
      </p>

      <p class="text-[15px] text-black leading-relaxed">
      With 8+ years of expertise, our team blends creativity with strategy to deliver designs that are not only visually appealing but also aligned with your business goals. Whether you’re building a brand from scratch or refreshing an existing one, we create designs that speak your language.
      </p>

    </div>

  </div>

</section>