<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <!-- Heading -->
      <h2 class="text-[32px] max-w-[950px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
     Go-To-Market Strategy That Drives Successful Launches
      </h2>

      <!-- Paragraph -->
      <p class="text-[15px] text-black leading-relaxed">
     Launching a product or service without a clear go-to-market (GTM) strategy can lead to missed opportunities and wasted resources. At Marcamor, we craft data-driven GTM strategies that ensure your brand reaches the right audience, at the right time, with the right message. Our approach focuses on market research, customer insights, and competitive analysis to create a roadmap that maximizes impact and accelerates growth.
      </p>

      <p class="text-[15px] text-black leading-relaxed">
      With 8+ years of experience, we’ve helped startups, SMEs, and enterprises successfully launch and scale their products across multiple markets. From positioning your brand to selecting the most effective marketing channels, our strategies are designed to minimize risks and deliver measurable results.
      </p>

    

    </div>

  </div>

</section>