<section class="bg-[#fff9f6] py-10 lg:py-16">
  <div class="max-w-[1440px] mx-auto w-[90%]">
    <div class="flex flex-col gap-6">
      <h2
        class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight"
      >
        Custom Web and App Design That Elevates User Experience
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
        At Marcamor, we craft custom websites and mobile applications designed
        to deliver seamless user experiences and strong brand impressions. We
        understand that your digital platforms are the first touchpoints for
        your customers, which is why we focus on creating designs that are not
        only visually appealing but also intuitive, responsive, and
        performance-driven. Our goal is to transform your vision into a digital
        experience that engages and converts.
      </p>
      <p class="text-[15px] text-black leading-relaxed">
      With 8+ years of expertise, our design process combines creativity, user behavior insights, and cutting-edge technology to deliver solutions tailored to your business goals. Whether it’s a corporate website, an e-commerce platform, or a feature-rich mobile app, we ensure every design element enhances usability and aligns with your brand identity.
      </p>
    </div>
  </div>
</section>
