<section class="bg-black text-white py-10 lg:py-16">
  <div class="max-w-[1440px] w-[90%] mx-auto">

    <h1
      class="
      text-[34px]
      sm:text-[42px]
      lg:text-[60px]
      font-semibold
      lg:mb-16 mb-6
    "
    >
      Engineered for <br /> Structured Growth
    </h1>

    <div class="flex flex-col gap-4 lg:gap-16">

      <!-- Row 1 -->
      <div class="grid lg:grid-cols-3 gap-8 lg:gap-16 items-start">

        <div>
          <div class="inline-block px-4 py-2 bg-white/10 rounded-full">
            <span class="text-[14px] text-white/80">Who Are We?</span>
          </div>
        </div>

        <div>
          <h3 class="text-[24px] lg:text-[24px] font-semibold">
            Strategic Clarity Before Execution
          </h3>
        </div>

        <div>
          <p class="text-[14px] lg:text-[16px] text-white leading-relaxed">
            Every engagement begins with business alignment. We define positioning, competitive landscape, performance objectives, and growth architecture before execution begins. Strategy drives direction. Direction drives results.
          </p>
        </div>

      </div>


      <!-- Divider -->
      <div class="grid lg:grid-cols-3">
        <div></div>
        <div class="col-span-2 border-t border-white/10"></div>
      </div>


      <!-- Row 2 -->
      <div class="grid lg:grid-cols-3 gap-8 lg:gap-16 items-start">

        <div></div>

        <div>
          <h3 class="text-[24px] lg:text-[24px] font-semibold">
            Proven Systems Across Industries
          </h3>
        </div>

        <div>
          <p class="text-[14px] lg:text-[16px] text-white leading-relaxed">
            Our frameworks have been applied across technology, wellness, education, transport, D2C, and enterprise sectors. We do not replicate templates. We deploy structured systems adaptable to market complexity.
          </p>
        </div>

      </div>


      <!-- Divider -->
      <div class="grid lg:grid-cols-3">
        <div></div>
        <div class="col-span-2 border-t border-white/10"></div>
      </div>


      <!-- Row 3 -->
      <div class="grid lg:grid-cols-3 gap-8 lg:gap-16 items-start">

        <div></div>

        <div>
          <h3 class="text-[24px] font-semibold">
            Built for Long-Term Market Leadership
          </h3>
        </div>

        <div>
          <p class="text-[16px] text-white leading-relaxed">
            Over the years, Marcamor has evolved from a service provider into a growth ecosystem architect. Our focus is not short-term campaigns but sustainable positioning, operational scalability, and disciplined expansion.
          </p>
        </div>

      </div>

    </div>

  </div>
</section>