---
import { ChevronRight } from "lucide-react";

const cards = [
    {
    imageBg: "/images/411.svg",
    type: "WEBSITE",
    title: "411 Locals",
    dec: "Driving consistent lead generation for local businesses through SEO and performance marketing."
  },
     {
    imageBg: "/images/pedigree.svg",
    type: "WEBSITE",
    title: "Pedigree",
    dec: "Building a strong social media presence through engaging, community-driven content."
  },
  {
    imageBg: "/images/tsrtc.png",
    type: "WEBSITE",
    title: "TSRTC",
    dec: "SEO-led traffic growth for Telangana State Road Transport Corporation by optimizing route-based searches, targeting the “Mahalakshmi Pathakam” scheme, and building structured FAQ-driven content to capture commuter search intent."
  },
  {
    imageBg: "/images/namhya.svg",
    type: "WEBSITE",
    title: "Namhya Foods",
    dec: "Scaling a wellness brand’s digital growth through integrated marketing and high-impact SEO strategies."
  }
];
---

<section class="bg-[#FFF9F6] text-black py-16 lg:py-20">

<div class="max-w-[90%] mx-auto">

<div class="flex flex-col lg:flex-row gap-12 lg:gap-20">

<div
class="
w-full
flex flex-col gap-6
lg:sticky lg:top-[120px]
self-start
"
>

<div class="bg-white rounded-full px-4 py-1.5 w-fit">
<p class="text-sm font-medium text-[#00000080]">
Featured Work
</p>
</div>

<h2 class="lg:text-[24px] text-[20px] font-medium leading-relaxed capitalize">
Our goal is to nurture your vision and provide innovative,
custom solutions for all your marketing needs.
</h2>

<div class="lg:flex lg:flex-col flex sm:flex-row lg:flex-col gap-4">

<a href="/work">
           <button
            class="group relative  cursor-pointer h-[43px] uppercase min-w-[146px] px-6 rounded-full text-[12px] font-semibold bg-gradient-to-r from-[#EE5125] to-[#E51F31] flex items-center justify-center gap-2 text-white"
          >
            <span class="relative">
           Explore all
              <span class="absolute left-0 -bottom-1 h-[1px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span>
            </span>

            <ChevronRight size={16} />
          </button>
         </a>

<a href="/requestproposal" class="cursor-pointer">
  <button
class="group h-[42px] cursor-pointer w-full sm:w-[150px] text-[10px] lg:text-xs rounded-full font-semibold border border-black/50 flex items-center justify-center gap-2 uppercase transition-all duration-300"
>
<span class="relative">
CONTACT US
<span class="absolute left-0 -bottom-1 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"></span>
</span>

<ChevronRight size={16}/>
</button>
</a>

</div>
</div>


<div class="flex flex-col gap-4 lg:gap-8 xl:gap-14 w-full">

{cards.map((item) => (

<div
class="
w-full
xl:w-[800px]
h-[300px]
sm:h-[360px]
md:h-[420px]
lg:h-[480px]
text-white
rounded-[10px]
relative
overflow-hidden
bg-cover
bg-center
bg-black/70
"
style={`background-image:url('${item.imageBg}')`}
>

<div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#000000]"></div>

<div class="absolute bottom-0 w-full p-6 sm:p-8 lg:p-[34px] flex flex-col gap-5">

<button class="uppercase font-semibold text-xs px-3 py-1.5 bg-white/10 border border-white/20 rounded-full w-fit">
{item.type}
</button>

<h2 class="font-semibold text-xl sm:text-2xl lg:text-[34px] leading-tight">
{item.title}
</h2>

<div class="flex flex-col sm:flex-row sm:justify-between sm:items-end gap-4">

<p class="font-medium text-sm sm:text-base leading-relaxed sm:max-w-[70%] lg:block hidden">
{item.dec}
</p>

<a href="#">
  <button class="h-[42px] px-6 cursor-pointer  rounded-full text-xs font-semibold bg-white text-black flex items-center w-fit">
READ OUR CASE
<ChevronRight size={16}/>
</button>
</a>

</div>

</div>

</div>

))}

</div>

</div>
</div>

</section>