---
const stars = Array.from({ length: 5 });
---

<section class="bg-[#FFF9F6] text-black py-10">

<div class="max-w-[1320px] mx-auto px-6 lg:px-10">

<div class="flex flex-col lg:flex-row justify-between items-start gap-10 mb-16">

<div class="space-y-4 flex flex-col gap-6">

<span class="text-sm font-medium bg-[#0000000D] px-4 py-2 rounded-full w-fit">
Testimonials
</span>

<h2 class="text-3xl lg:text-[32px] font-semibold text-black">
Hear From Our Clients
</h2>

</div>

<div class="flex flex-wrap items-center gap-8">

<img src="/images/google.svg" class="h-[60px] object-contain" />

<img src="/images/upcity.svg" class="h-[60px] object-contain" />

<img src="/images/star5.svg" class="h-[60px] object-contain" />

<img src="/images/review.svg" class="h-[60px] object-contain" />

</div>

</div>


<div class="flex flex-col xl:flex-row justify-center gap-8">


<div class="bg-white rounded-[12px] shadow-sm w-full xl:w-[547px] xl:h-[547px] p-8 lg:p-10 flex flex-col justify-between shadow-[0_8px_6px_-6px_rgba(0,0,0,0.3)]">

<div>

<img src="/images/quots.svg" class="h-8 w-8 mb-6" />

<p class="text-base lg:text-[18px] leading-relaxed text-black">

Marcamor is the best digital marketing agency in India! They truly know how to grow brands with their creative and data-driven strategies. The team is professional, friendly, and always goes the extra mile to deliver great results. Our sales and customer engagement have improved a lot since working with them. I highly recommend Marcamor for any business looking to succeed online!

</p>

</div>

<div class="mt-8">

<p class="font-semibold text-[18px] text-black">
360 P Kirthi Tejesh Reddy
</p>

<div class="flex items-center gap-2 mt-2">

<div class="flex items-center gap-1">

{stars.map(() => (
<img src="/images/star2.svg" alt="star" class="w-[15px] h-[15px]" />
))}

</div>

<span class="text-sm font-semibold text-black">5</span>

</div>

</div>

</div>



<div class="flex flex-col gap-6">


<div class="bg-white rounded-[12px] shadow-sm w-full xl:w-[547px] xl:h-[264px] p-6 lg:p-8 flex flex-col justify-between shadow-[0_8px_6px_-6px_rgba(0,0,0,0.3)]">

<div>

<img src="/images/quots.svg" class="h-6 w-6 mb-4" />

<p class="text-sm leading-relaxed text-black text-[12px]">

We saw real, measurable results within few days. Marcamor is one of the few digital marketing companies in Hyderabad that actually delivers great result for the client services.

</p>

</div>

<div class="mt-6">

<p class="font-semibold text-[14px] text-black">
Veeru
</p>

<div class="flex items-center gap-2 mt-2">

<div class="flex items-center gap-1">

{stars.map(() => (
<img src="/images/star2.svg" alt="star" class="w-[15px] h-[15px]" />
))}

</div>

<span class="text-sm font-semibold text-black">5</span>

</div>

</div>

</div>



<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">


<div class="bg-white rounded-[12px] shadow-sm w-full xl:w-[263px] xl:h-[263px] p-6 flex flex-col justify-between shadow-[0_8px_6px_-6px_rgba(0,0,0,0.3)]">

<div>

<img src="/images/quots.svg" class="h-5 w-5 mb-4" />

<p class="text-[12px] leading-relaxed text-[#00000080]">

Their SEO and ad strategies worked wonders for our local business. Marcamor really is among the top digital marketing companies in Hyderabad

</p>

</div>

<div class="mt-6">

<p class="font-semibold text-sm text-black">
Sai Dinesh
</p>

<div class="flex items-center gap-2 mt-2">

<div class="flex items-center gap-1">

{stars.map(() => (
<img src="/images/star2.svg" alt="star" class="w-[15px] h-[15px]" />
))}

</div>

<span class="text-sm font-semibold text-black">5</span>

</div>

</div>

</div>



<div class="bg-white rounded-[12px] shadow-sm w-full xl:w-[263px] xl:h-[263px] p-6 flex flex-col justify-between shadow-[0_8px_6px_-6px_rgba(0,0,0,0.3)]">

<div>

<img src="/images/quots.svg" class="h-5 w-5 mb-4" />

<p class="text-[12px] leading-relaxed text-[#00000080]">

Marcamor has been a game-changer for our online presence in Hyderabad; their digital marketing expertise has helped us reach new heights.

</p>

</div>

<div class="mt-6">

<p class="font-semibold text-sm text-black">
GNVSL.PAVANA BASAVYA
</p>

<div class="flex items-center gap-2 mt-2">

<div class="flex items-center gap-1">

{stars.map(() => (
<img src="/images/star2.svg" alt="star" class="w-[15px] h-[15px]" />
))}

</div>

<span class="text-sm font-semibold text-black">5</span>

</div>

</div>

</div>

</div>

</div>

</div>


<div class="px-6 lg:px-16 py-6">

<div class="max-w-7xl mx-auto flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-between">

<p class="text-[14px] font-medium text-black">
1500 Satisfied Clients Love Our Services
</p>

<div class="flex items-center justify-between lg:flex-1 lg:ml-10">

<div class="flex items-center gap-4">

<img src="/images/emoji.svg" class="w-8 h-8" />

<div class="flex flex-col">

<div class="flex items-center gap-2">

<div class="flex items-center gap-1">

{stars.map(() => (
<img src="/images/star1.svg" alt="star" class="w-[15px] h-[15px]" />
))}

</div>

<span class="text-sm font-semibold text-black">
4.9
</span>

</div>

<p class="lg:text-[14px] text-[12px] font-medium text-black">
Based On 1.5k Reviews
</p>

</div>

</div>


<button class="group flex items-center gap-2 text-[10px] lg:text-[14px] font-medium bg-white lg:px-3 lg:py-2 rounded-full">

<span class="relative">
View All Reviews
<span class="absolute left-0 -bottom-1 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"></span>
</span>

<span class="w-6 h-6 flex items-center justify-center rounded-full border border-black/30">

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2">
<path d="M7 7h6v6"/>
<path d="M13 7L5 15"/>
</svg>

</span>

</button>

</div>

</div>

</div>

</div>

</section>