---
import { ChevronRight } from "lucide-react";
---

<div class="bg-bla">
    <div class="max-w-[90%] mx-auto py-10">
  <div class="flex justify-between items-center">

    <!-- LEFT LOGOS -->
    <div class="relative">
      <img
        src="/images/marcamore-logo.svg"
        alt="marcamore logo"
        class="w-[140px] h-[32px]"
      />

      <img
        src="/images/insight-logo.svg"
        alt="insight"
        class="w-[122px] h-[68px] absolute bottom-[-50px]"
      />
    </div>

    <!-- BUTTON -->
    <button class="h-[42px] px-6 rounded-full text-[12px] uppercase font-semibold bg-gradient-to-r from-[#EE5125] to-[#E51F31] flex items-center gap-2 text-white">
      visit insights
      <ChevronRight size={16} />
    </button>

  </div>
</div>
</div>