---

---

<section class="relative min-h-screen lg:pt-20 overflow-hidden h-[200px]">

  
  <div class="lg:hidden relative mt-20">
    <img
      src="/images/Aboutmb-bg.png"
      alt="About Background Mobile"
      class="w-full h-auto"
    />

    <div class="pointer-events-none absolute bottom-0 left-0 w-full h-[140px] bg-gradient-to-b from-transparent via-black/70 to-black"></div>
  </div>


  <!-- Desktop Background -->
  <div
    class="absolute inset-0 bg-center bg-no-repeat bg-cover animate-bgReveal hidden md:block"
    style="background-image:url('/images/About-bg.png')"
  ></div>


  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/50"></div>


  <!-- Content -->
  <div class="relative z-10 max-w-[90%] mx-auto w-[90%] pt-10 lg:pt-[160px] text-white">

    <div class="grid lg:grid-cols-2 gap-6 py-4 lg:gap-12 items-start">


      <!-- Left -->
      <div class="flex flex-col gap-6">

        <h1 class="text-[36px] sm:text-[44px] lg:text-[56px] font-semibold leading-[1.1] animate-content delay-2">
          We are Marcamor.
        </h1>

        <p class="text-[16px] animate-content delay-2">
          Building Scalable Brand Ecosystems Across Global Markets.
        </p>

        <div class="w-full h-px bg-white animate-content delay-3"></div>


        <div class="flex items-center gap-4 lg:gap-6 pt-2 animate-content delay-4">

          <span class="text-[14px] tracking-wide">
            FEATURED ON
          </span>

          <img
            src="/images/ap-logo.svg"
            alt="AP"
            class="h-[40px]"
          />

          <img
            src="/images/business-text.svg"
            alt="Business Insider"
            class="h-[16px]"
          />

        </div>

      </div>


      <!-- Right -->
      <div class="w-full lg:max-w-[440px] lg:ml-auto text-left mt-10 lg:mt-0">

        <p class="text-[14px] lg:text-[16px] leading-relaxed text-white/90 animate-content delay-4">
          Marcamor is a strategic growth company integrating brand positioning, digital infrastructure, performance systems, and business expansion frameworks. We partner with ambitious businesses to build structured ecosystems designed for long-term scale.
        </p>

      </div>

    </div>

  </div>


 
  <div class="pointer-events-none absolute bottom-0 left-0 w-full h-[140px] bg-gradient-to-b from-transparent via-black/70 to-black"></div>

</section>