<section class="bg-black text-white flex items-center">

  <div class="max-w-[1440px] w-[90%] mx-auto">

    <div class="grid lg:grid-cols-2 gap-12 items-center">

      <div class="flex flex-col gap-6 max-w-[520px] pt-[200px]">

        <h2 class="font-semibold text-[24px]">
    Brand Identity and Guidelines
        </h2>

        <div class="w-[200px] h-[1px] bg-white"></div>

        <p class="text-[18px] font-medium">
        Consistency That Strengthens Your Brand
        </p>

        <p class="text-white leading-relaxed">
We create complete brand identity systems and guidelines that ensure your brand remains consistent, recognizable, and impactful across every platform.      </div>

      <div class="flex lg:justify-end lg:items-end h-full">

        <button class="uppercase font-semibold text-[12px] px-4 py-2 border border-white rounded-full hover:bg-white hover:text-black transition">
          Scroll to explore
        </button>

      </div>

    </div>

  </div>

</section>