<section class="bg-black overflow-hidden">

  <div class="relative w-full">

    <div class="marquee-track flex whitespace-nowrap">

      <h2 class="text-[54px] lg:text-[96px] uppercase font-bold outline-text tracking-wider text-transparent stroke-text px-10">
     Brand Identity and Guidelines -
      </h2>

      <h2 class="text-[54px] lg:text-[96px] uppercase outline-text font-bold tracking-wider text-transparent stroke-text px-10">
  Brand Identity and Guidelines -
      </h2>

    </div>

  </div>

</section>