<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px]  md:text-[44px] lg:text-[52px] font-semibold leading-tight">
 Brand Identity and Guidelines
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
A strong brand identity is the foundation of every successful business. It’s not just about having a logo — it’s about creating a consistent look, feel, and voice that connects with your audience across every touchpoint. At Marcamor, we craft brand identities that tell your story, reflect your values, and make your brand instantly recognizable. </p>
     <p class="text-[15px] text-black leading-relaxed">With 8+ years of expertise, we help brands find their voice, build a strong identity, and differentiate themselves in competitive markets. Our approach blends creativity, storytelling, and data-driven insights to ensure your brand not only stands out but also resonates with the right audience.
 </p>

 
    </div>

  </div>

</section>