<section class="bg-[#fff9f6] py-10">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] lg:text-[54px] font-semibold leading-tight">
Why Choose Marcamor for Brand Strategy?

      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we see brand identity as more than just design — it’s the personality and voice of your business. We take time to understand your values, audience, and goals to create identities that stand out and resonate. From logo design to tone of voice, every detail is crafted to reflect your brand’s essence.      </p>

      <p class="text-[15px] text-black leading-relaxed">
We also provide clear, practical brand guidelines to ensure consistency across all platforms. With over 8 years of experience, our team blends creativity and strategy to build identities that not only look great but also inspire trust and recognition.      </p>

      <p class="text-[15px] font-bold">
    Here’s why businesses trust us:


      </p>

      <ul class="list-disc pl-6 space-y-2 text-[15px] text-black">

        <li>8+ years of expertise in brand strategy and design
</li>

        <li>Tailored solutions for diverse industries
</li>

        <li>Detailed and easy-to-use brand guidelines
</li>

        <li>A collaborative and transparent process
</li>

        <li>A transparent, collaborative process with continuous feedback at every stage
</li>
      

      </ul>

    </div>

  </div>

</section>