<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
      Business Consulting That Turns Ideas Into Impact
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
Building a successful business is more than just having a great product — it requires clear strategy, operational excellence, and market adaptability. At Marcamor, we provide business consulting services that empower brands to grow smarter and faster. Our approach combines deep market insights with actionable strategies to ensure your business stays competitive in today’s dynamic environment.      </p>

      <p class="text-[15px] text-black leading-relaxed">
With 8+ years of experience, we have partnered with startups, SMEs, and enterprises to help them overcome challenges, optimize performance, and unlock new opportunities. Whether you need guidance on strategy, operations, or growth, we bring a mix of innovation and practical execution that drives measurable results.      </p>

    </div>

  </div>

</section>