<section class="bg-black text-white flex items-center">
  <div class="max-w-[1440px] w-[90%] mx-auto">

    <div class="grid lg:grid-cols-2 gap-12 items-center">

      <div class="flex flex-col gap-6 max-w-[520px] pt-[200px]">

        <h2 class="font-semibold text-[24px]">
         Sales and Revenue Strategy
        </h2>

        <div class="w-[200px] h-[1px] bg-white"></div>

        <p class="text-[18px] font-medium">
         Strategies That Accelerate Growth
        </p>

        <p class="text-white leading-relaxed">
We design sales and revenue strategies that help businesses improve conversions, strengthen sales processes, and drive sustainable growth.
        </p>

      </div>

      <div class="flex lg:justify-end lg:items-end h-full">

        <button class="uppercase font-semibold text-[12px] px-4 py-2 border border-white rounded-full hover:bg-white hover:text-black transition">
          Scroll to explore
        </button>

      </div>

    </div>

  </div>
</section>