<section class="bg-[#fff9f6] py-10 lg:py-16">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] max-w-[1000px] md:text-[44px] lg:text-[52px] font-semibold leading-tight">
       Logo Design That Defines Your Brand Identity
      </h2>

      <p class="text-[15px] text-black leading-relaxed">
A logo is the face of your brand — the first impression that customers remember. At Marcamor, we create unique, timeless, and memorable logo designs that reflect your brand’s personality and values. Our goal is to design a logo that not only stands out but also communicates your story in a single glance.      </p>

      <p class="text-[15px] text-black leading-relaxed">
With over 8 years of experience in branding and creative design, our team has helped more than 100 brands establish strong visual identities. From startups to established enterprises, we craft logos that resonate with audiences and leave a lasting impact.      </p>

    </div>

  </div>

</section>