<section class="bg-[#fff9f6] py-10">

  <div class="max-w-[1440px] mx-auto w-[90%]">

    <div class="flex flex-col gap-6">

      <h2 class="text-[32px] lg:text-[54px] font-semibold leading-tight">
Why Choose Marcamor for Packaging Design?

      </h2>

      <p class="text-[15px] text-black leading-relaxed">
At Marcamor, we treat packaging as an extension of your brand experience. Our approach goes beyond visuals, ensuring that your packaging creates a strong emotional connection with your audience while meeting practical needs like durability and usability.      </p>

      <p class="text-[15px] text-black leading-relaxed">
We work with businesses across industries to design packaging that feels premium, communicates quality, and boosts brand recognition. Whether you’re launching a new product or revamping your packaging, our team ensures designs that deliver impact and set you apart from competitors.      </p>

      <p class="text-[15px] font-bold">
      Here’s why businesses trust us:


      </p>

      <ul class="list-disc pl-6 space-y-2 text-[15px] text-black">

        <li>8+ years of expertise in packaging and brand design
</li>

        <li>Customized, research-driven solutions that resonate with customers
</li>

        <li>End-to-end design services from concept to print-ready files
</li>

        <li>Strong focus on aesthetics, storytelling, and market trends
</li>
 <li>Transparent and collaborative process with timely delivery
</li>
 

      </ul>

    </div>

  </div>

</section>